body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #191414; /* Preto Spotify */
    color: #FFFFFF; /* Branco */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 500px;
    text-align: center;
    background-color: #1DB954; /* Verde Spotify */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.logo {
    max-width: 200px;
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 25px;
    color: #FFFFFF; /* Branco */
    font-weight: bold;
}

.player {
    background-color: #191414; /* Preto Spotify */
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

#musicTitleContainer {
    height: 40px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    white-space: nowrap;
    font-size: 1.4em;
    color: #1DB954; /* Verde Spotify */
}

#musicTitle {
    display: inline-block;
    animation: scrollText 10s linear infinite;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.controls button {
    background: none;
    border: none;
    color: #1DB954; /* Verde Spotify */
    font-size: 2.5em;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
}

.controls button:hover {
    transform: scale(1.2);
    color: #FFFFFF; /* Branco */
}

#progressBar {
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #535353; /* Cinza Spotify */
    outline: none;
}

#progressBar::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #1DB954; /* Verde Spotify */
    cursor: pointer;
    transition: background 0.2s;
}

#progressBar::-webkit-slider-thumb:hover {
    background: #1ED760; /* Verde Claro Spotify */
}

#timeContainer {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    color: #B3B3B3; /* Cinza Claro Spotify */
}

.music-item {
    margin: 12px 0;
    padding: 12px;
    background-color: #282828; /* Cinza Escuro Spotify */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    color: #FFFFFF; /* Branco */
}

.music-item:hover {
    background-color: #535353; /* Cinza Spotify */
    transform: scale(1.05);
}

@keyframes scrollText {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}
